dist-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.DS_Store
pids
logs
results

npm-debug.log
node_modules
.idea/
.vscode 

# dotenv environment variables file
.env
.env.yaml
.env-dev.yaml
.env-stage.yaml
.env-prod.yaml
*.pdf
*.xlsx
.coveralls.yml
dist
/index.js

# eslint files
.eslintignore
.eslintrc.js

# Coverage directory used by tools like istanbul
coverage

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
